*{
    margin: 0px;
    border:0px;
}
body{
    overflow: hidden;
    /* animation: shakeBody linear .7s infinite; */
    background-color: skyblue;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url('background.jpg');
    position: absolute;
}
.tree{
    height: 100vh;
    width:100%;
    background-image: url('trees.png');
    background-size: cover;
    position: absolute;
    top: -168px;
    
    

}
.track{
    height: 30vh;
    width: 800vw;
    background-image: url('track.png');
    /* background-size: cover; */
    background-repeat: repeat-x;
    position: absolute;
    top:70vh;
    animation: track linear 7s infinite ;
}
.car{
    height:100px;
    width:380px;
    background-image: url("./car_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left:250px;
    top:57vh;
    animation: shake linear .2s infinite;
}
.wheel1 img{

    width:80px;
    /* height:80px; */
    position: relative;
    left:40px;
    top:34px;
    animation: wheelrotate linear .6s infinite;
}
.wheel2 img{

    width:80px;
    /* height:80px; */
    position: relative;
    left: 233px;
    top: -46px;
    animation: wheelrotate linear .6s infinite;
}
@keyframes wheelrotate
{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes track
{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake
{
    0%{
        transform: translateY(-2px);
    }
    
    50%{
        transform: translateY(2px);
    }
    
    100%{
        transform: translateY(-2px);
    }
}
@keyframes shakeBody
{
    0%{
        transform: translateY(-20px);
    }
    
    50%{
        transform: translateY(20px);
    }
    
    100%{
        transform: translateY(-20px);
    }
}
